img{height: 60px;}
h1{color: red;}
.new{color: white;
	width: 100px;
	height: 75px;
	background: blue;
	font-size: 15px;}
.new1 { margin-top: 100px; font-size: 10 px;}
span.new2{color: red;}
.text4{color: white;background: green;padding: 10px;0px;10px;10px;}
.text{color: white;background:green; padding: 50px;0px;50px;20px;}
.text1{padding-top: 100px;}
.text2{padding-left: 70px;}
li.text3{margin: 7px;7px;7px;7px; border: 2px; outline-style : ridge;}
.new4{color: white;background: green;padding: 5px;0px;5px;0px;}
